.border{
    border: 1px solid black;
}

.todo_item li {
    display:flex;
    flex-direction:row;
    margin-top: 1em;
    justify-content: space-between ;
}
#screen_color {
    background-color: #f2f3f4;
    min-height: 100vh;
}
li {
    margin-left: -35px;
    text-transform: capitalize;
}

#btn_color {
    height: 30px;
    width: 100px;
    text-align: center;
    cursor: grab;
}

